<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If a file or directory doesn't exist, redirect the request to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
